<div class="pokemon-card">
    <div class="pokemon-card__image">
        <img [src]="pokemon.image" alt="imagem do {{pokemon.name}}">
    </div>
    <div class="pokemon-card__number">
        Nº {{leadingZero(pokemon.number)}}
    </div>
    <div class="pokemon-card__name">
        {{pokemon.name}}
    </div>
    <div class="pokemon-card__types">
        <div class="pokemon-card__type" [class]="'pokemon-card__type--' + type.toLowerCase()"
            *ngFor="let type of pokemon.types">
            {{type}}
        </div>
    </div>
</div>