// Global text color variables
$white-text-color: #fff;
$number-text-color: #919191;
$name-text-color: #313131;
// Global types color variables
$color-type-bug: #729f3f;
$color-type-dark: #707070;
$color-type-dragon: #53a4cf;
$color-type-electric: #eed535;
$color-type-fairy: #fdb9e9;
$color-type-fighting: #d56723;
$color-type-fire: #fd7d24;
$color-type-flying: #3dc7ef;
$color-type-ghost: #7b62a3;
$color-type-grass: #9bcc50;
$color-type-ground: #f7de3f;
$color-type-ice: #51c4e7;
$color-type-normal: #a4acaf;
$color-type-poison: #b97fc9;
$color-type-psychic: #f366b9;
$color-type-rock: #a38c21;
$color-type-steel: #9eb7b8;
$color-type-water: #4592c4;